@page
@model CreateCarModel
@{
    ViewData["Title"] = "Create Car";
}

<h1>Create Car</h1>

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class ="col-2 px-2">
                <label asp-for="Car.Model"></label>
            </div>
            <div class="col-6">
                <input asp-for="Car.Model" class="w-100 form-control" />
                @Html.ValidationMessage("Car.Model")
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 px-2">
                <label asp-for="Car.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Car.Name" class="w-100 form-control" />
                @Html.ValidationMessage("Car.Name")
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 px-2">
                <label asp-for="Car.Price"></label>
            </div>
            <div class="col-6">
                <input asp-for="Car.Price" class="w-100 form-control" />
                @Html.ValidationMessage("Car.Price")
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 px-2">
                <label asp-for="Car.Year"></label>
            </div>
            <div class="col-6">
                <select asp-for="Car.Year" class="w-100 form-control">
                    @foreach (var year in Model.Years)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.Car.Color)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 px-2">
                <label asp-for="Car.Color"></label>
            </div>
            <div class="col-6">
                <select asp-for="Car.Color" class="w-100 form-control">
                    @foreach (var color in Model.Colors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.Car.Color)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 px-2">
                <label asp-for="Car.Description"></label>
            </div>
            <div class="col-6">
                <textarea asp-for="Car.Description" class="w-100 form-control" rows="5"></textarea>
                @Html.ValidationMessage("Car.Description")
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 px-2">
                <label asp-for="Car.Photos"></label>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="photos" name="photos" multiple>
                </div>
              @Html.ValidationMessage("Car.Photos")
            </div>
        </div>
                
        <div class="row mt-4 mb-2">
            <div class="col-3">
                <input type="submit" class="w-100 form-control" />
            </div>
        </div>
    </form>
</div>

